*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, Arial;
}
html{
    scroll-behavior: smooth;
}
/*----------------------------------------------------------------  nav-------------------------------------------------*/
nav{
    background-color: black;
    font-size: 15px;
    position: sticky;
    top: 0;
    opacity: 0.95;
    z-index: 99;


}

#logo{
    width: 15px;;
}
nav > ul{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin:  auto;
    padding: 15px;
    align-items: flex-start;

}

nav ul > li {
    list-style: none;
}

nav ul li > a {
    text-decoration: none;
    color: gray;
    
}

nav i{
    color: gray;
}

#nav-mobile{
    display: none;
}

/* -------------------------------------------------------------------- header -------------------------------------------------*/
header{
    width: 100vw;
    height: 90vh;
    background-color: rgb(19, 19, 19);
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}
header > h1{
    margin-top: 30px;
    font-size: 55px;
    color: whitesmoke;
    font-weight: 100;

}
header h4{
    font-size: 25px;
    font-weight: 100;
}
header p{
    color: gray;
    margin: 20px;
}


header a{
    color:rgb(33, 115, 231);
    text-decoration: none;
    margin: 15px;
}

header img{
    width: 90%;
    margin: auto;
}

/* ----------------------------------------------------------------iphone 11 --------------------------------------- */
.eleven{
    /* height: 100vh; */
    color: whitesmoke;
    text-align: center;
    
}
.eleven h1{
    margin-top: 50px;
    font-size: 55px;
    color: black;
    font-weight: 100;
}
.eleven h4{
    font-size: 25px;
    font-weight: 100;
    color: black;
}
.eleven a{
    color:rgb(33, 115, 231);
    text-decoration: none;
    margin: 15px;
}
.eleven p{
    color: black;
    margin: 10px;
}
.eleven img{
    width: 100vw;
    height: 50vh;
}

/* ----------------------------------------------------------------ipad ------------------------------------------------ */
.ipad{
    background-image: url('https://www.apple.com/v/home/i/images/heroes/ipad-pro/hero__dvsxv8smkkgi_medium.jpg');
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    background-position: center;
    background-color: rgb(250, 250, 250);
  
}
.ipad h1{
    font-size: 55px;
    color: black;
    font-weight: 500;
}
.ipad h4{
    font-size: 25px;
    font-weight: 100;
    color: black;
    margin-bottom: 10px;
}
.ipad a{
    color:rgb(33, 115, 231);
    text-decoration: none;
    margin: 15px;
    margin-top: 10px;
}
/* ---------------------------------------------------------- products ---------------------------------------------*/
.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh 90vh 90vh ;
    background-color: rgb(250, 250, 250);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.products a{
    color: rgb(39, 143, 241);
    text-decoration: none;
}
/* one ---------------------------- */
.products .one{
    position: relative;
    align-items: center;
    text-align: center;
}
.products .one .bundle{
    width: 100%;
    height: 70%;
}
.products .one .logos{
    margin-top: 5%;
}
.products .one p{
    font-size: 25px;
    font-weight: 100;

}

.one div{
    margin: 10px;
}
/* two-------------------------- */
.products .two{

    background-color: black;
}
.products .two  h1{
    color: whitesmoke;
    margin-bottom: 3%;
    font-size: 40px;
    font-weight: 500;
}

.story{
    align-items: center;
    text-align: center;
    top: 40%;
    position: relative;
}



/* three ------------------------------- */

.products .three{
    background-color: black;
    position: relative;
    align-items: center;
    text-align: center;
}

.wwdc-logos{
    margin-top: 5%;
}
.three p{
    font-weight: 100;
    font-size: 20px;
    color: whitesmoke;
}

.three div{
    margin: 10px;
}
.three .wwdc{
    width: 100%;
    bottom: 0;
}



/* four --------------------- */
.products .four{
    background-color: rgb(250, 250, 250);
    position: relative;
    align-items: center;
    text-align: center;
}
.four img{
    background-position: center;
    background-size: cover;
}
.four .watch-logos{
    margin-top: 5%;
}
.four p{
    font-weight: 100;
    font-size: 20px;
}
.four div{
    margin: 10px;
}


/*five ------------------------------ */
.products .five{
    background-image: url('https://www.apple.com/v/home/i/images/promos/apple-card/tile__cauwwcyyn9hy_large.jpg');
    /* background-size:100% 70%;
    background-repeat: no-repeat;
    background-position: bottom; */
    background-position: center;
    background-size: cover;
    background-color: rgb(204, 204, 204);
    text-align: center;
  
}
.five .card-logos{
    margin-top: 5%;
}
.five p{
    font-weight: 100;
    margin: 5px;
}

.five div{
    margin-top: 10px;
}


/* six ----------------------------------------------- */
.products .six{
    position: relative;
    text-align: center;
    background-color: rgb(250, 250, 250);
}
.six img{
    width: 100%;
}
.six .six-head{
    margin-top: 5%;
}
.six div{
    margin-top: 10px;;
}











/* ---------------------------------------------- footer --------------------------- */
footer{
    background-color:rgb(245, 245, 247);
}

footer > .content{
    width: 80%;
    margin:  auto;
    padding: 20px;
}
.content p{
    color: rgb(151, 151, 155);
    font-size: 12px;
    margin: 10px;
}

/* -----------------------------------------------------footer links ----------------------- */
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: baseline;

}
.footer-links li{
    list-style: none;
    margin: 10px;
}
.footer-links a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
}
.footer-links b{
    color: black;
    font-size: 13px;
}







/* -------------------------------------------media */
@media (max-width: 1025px){
    .products{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    .one, .two, .three, .four, .five, .six{
        position: relative;
        height: 70vh;
        width: 100vw;
        margin: 10px;

    }
}

@media (min-width: 1300px){
    .products{
        grid-template-rows: 70vh 70vh 70vh;

    }
}